deps
objs
.gdbinit

gspan_cuda
gspan_cuda_lists
gspan_cuda_test
gspan_cuda_no_sort
gspan_cuda_freq_mindfs
gspan_cuda_mult_block
gspan_cuda_no_sort_block
gspan_cuda_mindfs

first_embed_test
ext_test
ext_test2
cuda_test
check_min_test
various_tests
fill_labels_test

libgspan_cuda.a



